<div class="row">
  <aside class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img src="/images/human.jpg" width="230" height="230" alt="" class="img-circle">
      </div>
      
    </div>
    <p>生年月日：<%= @user.birthday %></p>
    <%= render 'relationships/follow_button', user: @user %>
    <% if current_user = @user %>
      <%#= form_for(current_user.relationships.find_by(follow_id: user.id), html: {method: :edit}) do |f| %>
      
        <%= submit_tag '編集', class: 'btn btn-success btn-block' %>
      <%# end %>
    
    <% end %>
  </aside>
  <div class="col-xs-9">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>投稿<span class="badge"></span><% end %></li>
      <li class="<%= 'active' if current_page?(liked_books_user_path(@user)) %>"><%= link_to liked_books_user_path(@user) do %>いいねした本<span class="badge"></span><% end %></li>
      <li class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>Followings <span class="badge"><%= @count_followings %></span><% end %></li>
      <li class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>Followers <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    <%= render 'users', users: @followers %>
  </div>
</div>
