<% if books.present? %>
  <div class="row">
    <% books.each do |book| %>
      <div class="book">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= book.image_url %>"  alt="" >
            </div>
            <div class="panel-body">
              
             
              <% if book.persisted? %>
                <p class="book-title"><%= link_to book.title, book %></p>
              <% else %>
                <p class="book-title"><%= book.title %></p>
              <% end %>
              <div class="buttons text-center">
                <% if logged_in? %>
                  <%= render 'favorites/like_button', book: book %>
                  <%= render 'posts/new_post_button', book: book %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>