<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @book.image_url %>" alt="">
        </div>
        <div class="panel-body">
          <p class="book-title"><%= @book.title %></p>
          <div class="buttons text-center">
            <!-- <br><p><font color="red">(ボタン2つ入れるところ)</font></p> -->
            <%= render 'posts/new_post_button', book: @book %>
          </div>
        </div>
      </div>
    </div>
    <div class="btn btn-lg btn-block btn-default">
      <div class="link_text"><%= link_to @book.title, @book.item_url,{:target => "_blank"}  %></div>
      <p>の詳細ページ</p>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="item-introduction">
      <div class="panel-body">
        <ul>
          <li>著者：<%= @book.author %></li>
          <li>発売日：<%= @book.sales_date %></li>
          <li>価格：<%= @book.item_price %>円</li>
        </ul>
      </div>
    </div>
  </div>


<!--
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="liked-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <font color="red">この本にいいねしたユーザー</font>
        </div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    <div class="posted-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <font color="red">この本について投稿したユーザー</font>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
    
  </div>
  -->
</div>