<div class="row">
  <div class="col-md-3 item-intro">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @book.image_url %>" alt="">
        </div>
        <div class="panel-body">
          <p class="book-title"><%= @book.title %></p>
          <div class="buttons text-center">
            <!-- <br><p><font color="red">(ボタン2つ入れるところ)</font></p> -->
            <%= render 'posts/new_post_button', book: @book %>
          </div>
        </div>
      </div>
    </div>  
      <div class="link_to">
        <%= link_to '楽天ブックスページ', @book.item_url,{:target => "_blank",:class => 'btn btn-danger btn-lg'} %>  
      </div>
  </div>
  <div class="col-md-5">
    <div class="item-introduction">
      <div class="panel-body">
        <ul>
          <li>著者：<%= @book.author %></li>
          <li>発売日：<%= @book.sales_date %></li>
          <li>価格：<%= @book.item_price %>円</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="liked-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
        この本にいいねしたユーザー
        </div>
        <div class="panel-body">
          <%= @count_liked_users %>人がこの本についていいねしています<br>
          <% @liked_users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="posted-users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
        この本について投稿したユーザー
        </div>
        <div class="panel-body">
          <%= @count_posted_users %>人がこの本について投稿しています<br>
          <% @posted_users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
