<ul class="media-list">
  <% posts.each do |post| %>
  <li class="media">
    <div class="media-left">
      <img src="/images/human.jpg" width="80" height="80" alt="" class="img-circle">
    </div>
    
    <div class="media-body">
      
      <div>
        <%= link_to post.user.name, user_path(post.user) %><span class="text-muted">&nbsp;posted at&nbsp;<%= post.created_at %></span>
      </div>
      
      <div>
        <p><%= simple_format(post.comment) %> </p>
        <%= link_to '投稿詳細へ',post %>
        <h4><img src="http://freeiconbox.com/icon/256/32354.png" width="33" height="33"><%= link_to post.book.title, post.book %></h4>
        
      </div>
      
      <!--
      <div>
        <#% if current_user == post.user %>
        <#%= link_to "Delete",post,method: :delete,data:{confirm:"本当に削除しますか？" },class: 'btn btn-danger btn-xs' %>
        <#% end %>
      </div>
      -->
      
    
    </div>
    
    
    
    
   
    
    
  </li>
  <% end %>
 
</ul>