<div class="row">
  <div class="col-xs-6">
    <%= form_for(post) do |f| %>
      <% if message.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :comment, 'タイトル' %>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>

     

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>